/* src/components/Question.module.css */
.questionTitle {
    font-size: 2rem; /* Adjust the font size as needed */
    font-weight: bold;
    color:rgb(161, 161, 161); /* Set the text color to white */
    margin-bottom: 20px; /* Adjust the bottom margin */
    text-align: center; /* Center the text horizontally */
  }
  