@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

body {
    background-image: url("../assets/mathsoulsBackground.png");
    background-size: cover;
    background-position: center top;
}

.login-input-container {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.login-title {
    color: white;
    font-family: "EB Garamond", serif;
}

