@font-face {
    font-family: 'EB Garamond'; /* The name you want to use to refer to the font */
    src: url('../assets/EBGaramond-VariableFont_wght.ttf') format('truetype');
    font-weight: normal; /* Normal weight */
    font-style: normal; /* Normal style */
  }
@font-face{
    font-family: 'Gloria';
    src: url('../assets/GloriaHallelujah-Regular.ttf') format('truetype');
    font-weight: normal; /* Normal weight */
    font-style: normal; /* Normal style */
}

.titl{
    font-family: 'EB Garamond', sans-serif;
    color: white; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    font-size: 40pt;
    height: 40vh;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
}

.buttons img {
    width: 242px; /* Set image width */
    height: 127px; /* Set image height */
    margin-right: 10px; /* Space between image and text */
}

.button-underlyingtext-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.underlying-text {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    color: white;
}

.overlay-text {
    font-family: 'Gloria', sans-serif;
    position: absolute;
    font-size: 20pt;
    line-height: 1.3;
    text-align: center;
    top: 50%;  /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Center text */
    color: red;  /* Text color */
}

.backButton-text{
    display: flex;
    align-items: center;
    color: red;
}

.backButton-text-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

.buttons-transparent{
    opacity: 0.5;
    width: 242px;
    height: 127px;
}

.image-container {
    position: relative;
    display: inline-block;
}